.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    .container {
        width: 80%;
        max-width: 800px;
        display: inherit;
        justify-content: inherit;
        padding: 30px 0px;
    }
    .inner-container {
        width: 50%;
        .delete-all {
            cursor: pointer;
        }
    }
}